@{
    ViewData["Title"] = "Gestor";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<div class="container mt-4">
    <h1>Bem-vindo, gestor.</h1>

    <h4 class="mt-4">Gestão dos funcionários:</h4>
    <div class="mb-3">
        <a class="btn btn-success" asp-area="" asp-controller="Gestor" asp-action="CreateGest">Criar Gestor</a>
        <a class="btn btn-success" asp-area="" asp-controller="Gestor" asp-action="CreateFunc">Criar Funcionario</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Gestor" asp-action="ListaUsr">Listar Utilizadores</a>
        <a class="btn btn-secondary" asp-area="" asp-controller="Gestor" asp-action="ListaRecHum">Listar Recursos Humanos</a>
    </div>
</div>
